export const FIREBASE_CONFIG = {
    apiKey: "AIzaSyAcVXakn_qUVi4WhhBFcEtMP9we1glftGs",
    authDomain: "profile-app-2c491.firebaseapp.com",
    databaseURL: "https://profile-app-2c491.firebaseio.com",
    projectId: "profile-app-2c491",
    storageBucket: "profile-app-2c491.appspot.com",
    messagingSenderId: "908581054158"
  };
